<div class="author">
    <h1 class="author__heading">Hi, I am Vova.</h1>
    <p class="author__body">Mobile app developer.</p>
</div>

<img src="/img/hero-image.jpg" alt="Mountain with tree spikes" class="hero-image" width="640" height="427">

<section class="articles">
    <h2 class="articles__heading">Latests Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>

    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>

</section>

